// $cPrimary: #31393c;
// $cSecondary: #2176ff;
// $cTert1: #33a1fd;
// $cTert2: #fdca40;
// $cTert3: #f79824;

$cPrimary: #003049;
$cSecondary: #d62828;
$cTert1: #f77f00;
$cTert2: #fcbf49;
$cTert3: #eae2b7;

$cWhite: #fff;

$cBackground: $cTert2;
$cTextLight: $cTert3;
$cTextDark: $cPrimary;
$cShadow: $cPrimary;
$cLinkDefault: $cTert1;
$cLinkHover: $cSecondary; 