@import '../theme';
$wrapperWidth: 90%;

:host {
    display: flex;
    flex-direction: column;
    width: 100vw;
    background-color: $cBackground;
    margin-right: 15vw;
    .layout {
        // &-wrapper {
        //     width: $wrapperWidth;
        //     max-width: $wrapperWidth;
        //     margin-left: auto;
        //     margin-right: auto;
        // }
    }
}