@import '../theme';
$wrapperWidth: 90%;

:host {
    position: absolute;
    right: $navWidth;
    display: flex;
    flex-direction: column;
    width: calc(100% - $navWidth);
    background-color: $cBackground;
    .layout {
        // &-wrapper {
        //     width: $wrapperWidth;
        //     max-width: $wrapperWidth;
        //     margin-left: auto;
        //     margin-right: auto;
        // }
    }
}