<nav class="sidenav">
	<div class="sidenav-nav">
		<a href="#top" class="nav-link active"><span class="nav-link-span"><span class="u-nav">Introduction</span></span></a>
		<a href="#experience" class="nav-link"><span class="nav-link-span"><span class="u-nav">Experience</span></span></a>
		<a href="#work" class="nav-link"><span class="nav-link-span"><span class="u-nav">My Work</span></span></a>
		<a href="#education" class="nav-link"><span class="nav-link-span"><span class="u-nav">Education</span></span></a>
		<a href="#testimonials" class="nav-link"><span class="nav-link-span"><span class="u-nav">Testimonials</span></span></a>
		<a href="#projects" class="nav-link"><span class="nav-link-span"><span class="u-nav">Projects</span></span></a>
		<a href="#passions" class="nav-link"><span class="nav-link-span"><span class="u-nav">Hobbies</span></span></a>
		<a href="#contact" class="nav-link"><span class="nav-link-span"><span class="u-nav">Contact</span></span></a>
		<!-- <a href="#typography" class="nav-link"><span class="nav-link-span"><span class="u-nav">Typography Test</span></span></a> -->
	</div>
	<div class="sidenav-skills">
		<div *ngFor="let group of data.groups">
			<h4 class="sidenav-skills-title">{{group.title}}</h4>
			<ul class="sidenav-skills-list">
				<li *ngFor="let item of group.list" innerHtml={{item}}>{{item}}</li>
			</ul>
		</div>
	</div>
</nav>
