@import '../theme';

:host {
    position: fixed;
    height: 100%;
    width: $navWidth;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $cTert1;
    overflow-y: hidden;
    .sidenav {
        width: 100%;
        &-nav {
            padding: 2rem;
            display: flex;
            flex-direction: column;
            gap: 0.25rem;
            width: 100%;
        }
        &-skills {
            display: flex;
            flex-direction: column;
            width: 100%;
            &-title {
                display: flex;
                padding: 0.75rem 0;
                margin-bottom: 0.5rem;
                justify-content: center;
                color: $cTert1;
                background-color: $cTert2;
            }
            &-list {
                color: $cTert2;
            }
        }
    }

}